@model List<SistemaGestorDeNominas.Models.Nomina>

@{
    ViewBag.Title = "Nomina Filtrada";
}

<div class="row mt-3">
    <div class="col-md-6">
        <h2>Resultado de la busqueda.</h2>
    </div>
    <div class="col-md-6">
        <form action="/Nomina/NominaFiltrada" method="post">
            <div class="row">
                <div class="col-md-8">
                    <input type="date" name="fechaDeEmicion" class="form-control" />

                    <input type="radio" name="sexo" id="femenino" value="f" />
                    <label for="femenino">femenino</label>

                    <input type="radio" name="sexo" id="masculino" value="m" />
                    <label for="masculino">masculino</label>
                </div>
                <div class="col-md-4 justify-content-end">
                    <button class="btn btn-primary icon-filter" type="submit">filtrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Fecha de ingreso</th>
                <th>Sueldo Bruto</th>
                <th>Ret. ARS</th>
                <th>Ret. AFP</th>
                <th>Ret. IRS</th>
                <th>Total descontado</th>
                <th>Salario Neto</th>
            </tr>
            @foreach (var datos in Model)
            {
                <tr>
                    <td>@datos.Nombre</td>
                    <td>@datos.Apellido</td>
                    <td>@datos.Sexo</td>
                    <td>@datos.FechaDeIngreso</td>
                    <td>@datos.SueldoBruto</td>
                    <td>@datos.ARS</td>
                    <td>@datos.AFP</td>
                    <td>@datos.IRS</td>
                    <td>@datos.TotalDesc</td>
                    <td>@datos.SueldoNeto</td>
                </tr>
            }
        </table>
    </div>
</div>