@model List<SistemaGestorDeNominas.Models.Empleado>
@{
    ViewBag.Title = "Listado Empleado";
}

<div class="row mt-3">
    <div class="col-md-8">
        <h2>Listado Empleado</h2>
    </div>
    <div class="col-md-4 mt-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle icon-filter" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar Empleados
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @Html.ActionLink("Empleados Activos", "/ListadoEmpleadoFiltrado", "Empleado", new { estado_A_Filtrar = 1 }, new { @class = "dropdown-item" })
                @Html.ActionLink("Empleados Inactivos", "/ListadoEmpleadoFiltrado", "Empleado", new { estado_A_Filtrar = 0 }, new { @class = "dropdown-item" })
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        @Html.ActionLink("Agregar nuevo empleado", "AgregarEmpleado", "Empleado", null, new { @class = "btn btn-success  icon-plus" })
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sexo</th>
                <th>Fecha de ingreso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            @foreach (var datosEmpleado in Model)
            {
                <tr>
                    <td>@datosEmpleado.Nombre</td>
                    <td>@datosEmpleado.Apellido</td>
                    <td>@datosEmpleado.Sexo</td>
                    <td>@datosEmpleado.FechaDeEntrada</td>
                    <td>@datosEmpleado.EstadoDelEmpleado</td>
                    <td>
                        @Html.ActionLink("Editar", "EditarEmpleado", "Empleado", new { id_empleado = datosEmpleado.ID }, new { @class = "btn btn-success icon-edit" })
                        @Html.ActionLink("Bloquear", "CambiarEstado_A_Inactivo", "Empleado", new { id_empleado = datosEmpleado.ID }, new { @class = "btn btn-danger icon-block" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>