<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SGN</title> <!-- Sistema Gestion de Nomina -->
    <link href="~/Library/Bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Library/Fontello/css/fontello.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>
    <div class="container-fluid mt-1">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                @Html.ActionLink("Listado Empleados", "ListadoEmpleado", "Empleado", null, new { @class = (ViewContext.RouteData.Values["Action"].ToString() == "ListadoEmpleado" ? "nav-link active" : "nav-link") })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Crear Nomina", "NuevaNomina", "Nomina", null, new { @class = (ViewContext.RouteData.Values["Action"].ToString() == "NuevaNomina" ? "nav-link active" : "nav-link") })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Filtrar Nomina", "FiltrarNomina", "Nomina", null, new { @class = (ViewContext.RouteData.Values["Action"].ToString() == "FiltrarNomina" ? "nav-link active" : "nav-link") })
            </li>
            @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Contribución a Impuestos Internos
                </a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Agregar Contribución de Empleado o Empleador.", "FormularioContribucionesAgregar", "ContribucionParaDGII", null, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Editar Contribución de Empleado o Empleador.", "FormularioContribucionesEditar", "ContribucionParaDGII", null, new { @class = "dropdown-item" })
                </div>
            </li>*@
        </ul>
        @RenderBody()
    </div>

    <script src="~/Library/Jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Library/Bootstrap/js/popper.min.js"></script>
    <script src="~/Library/Bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
